= content_for :html_class, "h-full"
= content_for :body_class, "h-full"
= content_for :main_class, "min-h-full"
%div{class: "py-12 space-y-6"}
  %div{class: "mx-auto max-w-7xl overflow-hidden bg-white shadow sm:rounded-lg"}
    %div{class: "px-4 py-6 sm:px-6"}
      %h3{class: "text-base/7 font-semibold text-gray-900"} User Information
      %p{class: "mt-1 max-w-2xl text-sm/6 text-gray-500"} Personal details and application.
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "border-t border-gray-100" }) do |f|
      %div{class: "divide-y divide-gray-100"}
        %div{class: "px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"}
          = f.label :name, "Full Name", class: "text-sm/6 font-medium text-gray-900"
          %div{class: "mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0 sm:col-span-2"}
            = f.text_field :name, autofocus: true, autocomplete: "name", class: "block w-full rounded-lg border border-transparent shadow ring-1 ring-black/10 px-[calc(theme(spacing.2)-1px)] py-[calc(theme(spacing[1.5])-1px)] text-base/6 sm:text-sm/6 focus:outline focus:outline-2 focus:-outline-offset-1 focus:outline-black"
        %div{class: "px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"}
          = f.label :email, "Email", class: "text-sm/6 font-medium text-gray-900"
          %div{class: "mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0 sm:col-span-2"}
            = f.email_field :email, class: "block w-full rounded-lg border border-transparent shadow ring-1 ring-black/10 px-[calc(theme(spacing.2)-1px)] py-[calc(theme(spacing[1.5])-1px)] text-base/6 sm:text-sm/6 focus:outline focus:outline-2 focus:-outline-offset-1 focus:outline-black"
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              %div{class: "block text-gray-600"} Currently waiting confirmation for: #{resource.unconfirmed_emial}
        %div{class: "px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"}
          = f.label :password, class: "text-sm/6 font-medium text-gray-900" do
            %div Password
            %span{class: "text-sm text-gray-600"} Leave blank if you don't want to change it
          %div{class: "mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0 sm:col-span-2"}
            = f.password_field :password, autocomplete: "new-password", class: "block w-full rounded-lg border border-transparent shadow ring-1 ring-black/10 px-[calc(theme(spacing.2)-1px)] py-[calc(theme(spacing[1.5])-1px)] text-base/6 sm:text-sm/6 focus:outline focus:outline-2 focus:-outline-offset-1 focus:outline-black"
        %div{class: "px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"}
          = f.label :password_confirmation, class: "text-sm/6 font-medium text-gray-900" do
            %div Password Confirmation
          %div{class: "mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0 sm:col-span-2"}
            = f.password_field :password_confirmation, autocomplete: "new-password", class: "block w-full rounded-lg border border-transparent shadow ring-1 ring-black/10 px-[calc(theme(spacing.2)-1px)] py-[calc(theme(spacing[1.5])-1px)] text-base/6 sm:text-sm/6 focus:outline focus:outline-2 focus:-outline-offset-1 focus:outline-black"
        %div{class: "px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"}
          = f.label :current_password, class: "text-sm/6 font-medium text-gray-900" do
            %div Password
            %span{class: "text-sm text-gray-600"} We need your current password to confirm the changes.
          %div{class: "mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0 sm:col-span-2"}
            = f.password_field :current_password, autocomplete: "current-password", class: "block w-full rounded-lg border border-transparent shadow ring-1 ring-black/10 px-[calc(theme(spacing.2)-1px)] py-[calc(theme(spacing[1.5])-1px)] text-base/6 sm:text-sm/6 focus:outline focus:outline-2 focus:-outline-offset-1 focus:outline-black"
        %div{class: "px-4 py-6 sm:px-6 flex justify-end"}
          = link_to "Cancel", :back, class: "cursor-pointer inline-flex items-center justify-center mr-4 px-4 py-[calc(theme(spacing.2)-1px)] rounded-full border border-gray-950 bg-transparent shadow-md whitespace-nowrap text-base font-medium hover:text-white disabled:bg-gray-950 hover:bg-gray-800 disabled:opacity-40"
          = f.submit "Update Profile", class: "inline-flex items-center justify-center px-4 py-[calc(theme(spacing.2)-1px)] rounded-full border border-transparent bg-gray-950 shadow-md whitespace-nowrap text-base font-medium text-white disabled:bg-gray-950 data-[hover]:bg-gray-800 disabled:opacity-40"

  %div{class: "mx-auto max-w-7xl overflow-hidden bg-white shadow sm:rounded-lg"}
    %div{class: "px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"}
      %div{class: "text-sm/6 font-medium text-gray-900"}
        %div Cancel your account
      %div{class: "mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0 sm:col-span-2"}
        = button_to "Click here to permenantly delete your account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "inline-flex items-center justify-center px-4 py-[calc(theme(spacing.2)-1px)] rounded-full border border-transparent bg-red-400 shadow-md whitespace-nowrap text-base font-medium text-white disabled:bg-gray-950 hover:bg-red-500 disabled:opacity-40"