= content_for :html_class, "h-full"
= content_for :body_class, "h-full"
= content_for :main_class, "min-h-full"
= render partial: "properties/header", locals: {property: @property}
%div{class: "py-2"}
	%div{class: "mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 sm:border-b sm:border-gray-200 flex items-center justify-between"}
		%div{class: "sm:hidden", data:{controller: "select-navigation"}}
			%label{class: "sr-only", for: "tabs"}
				Select a tab
			%select{id: "tabs", name: "tabs", class: "block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-gray-500 focus:outline-none focus:ring-gray-500 sm:text-sm", data:{action: "change->select-navigation#navigate"}}
				%option{data:{url: property_path(@property)}, selected: (controller_name === "properties")} Promotions
				%option{data:{url: property_variables_path(@property)}, selected: (controller_name === "variables")} Variables
				%option{data:{url: property_products_path(@property)}, selected: (controller_name === "products")} Product SKUs
		%div{class: "hidden sm:block"}
			%div{class: "border-b border-gray-200"}
				%nav{class: "-mb-px flex space-x-8", "aria-label": "Tabs"}
					= link_to "Promotions", property_path(@property), class: "whitespace-nowrap border-b-2 border-fuchsia-500 px-1 py-4 text-md font-medium text-fuchsia-600"
					= link_to "Variables", property_variables_path(@property), class: "whitespace-nowrap border-b-2 border-transparent px-1 py-4 text-md font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
					= link_to "Product SKUs", property_products_path(@property), class: "whitespace-nowrap border-b-2 border-transparent px-1 py-4 text-md font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
		%div{class: "flex sm:ml-4 sm:mt-0"}
			= link_to "New Promotion", new_property_promotion_path(@property), class: "text-sm cursor-pointer inline-flex items-center justify-center px-4 py-[calc(theme(spacing.2)-1px)] rounded-full border border-transparent bg-gray-950 shadow-md whitespace-nowrap text-base font-medium text-white disabled:bg-gray-950 hover:bg-gray-800 disabled:opacity-40"
%div{class: "py-2"}
	%div{class: "mx-auto max-w-7xl px-4 sm:px-6 lg:px-8"}
		%ul{role: "list", class: "divide-y divide-gray-100"}
			= render @property.promotions