= content_for :html_class, "h-full"
= content_for :body_class, "h-full"
= content_for :main_class, "min-h-full"
%div{class: "py-6"}
	%header
		%div{class: "mx-auto max-w-7xl px-4 sm:px-6 lg:px-8"}
			%h1{class: "text-3xl font-bold"}
				Edit: #{@promotion.name}

%div{class: "py-2"}
	%div{class: "mx-auto max-w-7xl px-4 sm:px-6 lg:px-8"}
		= render partial: "form_stepper", locals: {status: ["inprogress", "pending", "pending"]}
		= render partial: "form", locals: {property: @property, promotion: @promotion}